.containerLogin {
    height: 76.4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputId {
    margin: 10px;
    height: 50px;
}

.inputPassword {
    margin: 10px;
    height: 50px;
    font-size: 15px;
}

.botao {
    position: relative;
    margin-top: 10px;
    margin-left: 86%;
}